<%= form_with(model: @post, url: user_posts_path) do |form| %>
  <div class='field'>
    <div id='title'><%= form.text_field :title %></div>
    <%= form.text_area :content %>
    <%= form.submit 'Create Post' %>
  </div>
<% end %>
